<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FINKI BET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/BET_Logo.svg" alt="..." height="36" style="filter: invert(100%)">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto " >
                <li class="nav-item col-sm-3 pl-3" >
                    <a class="nav-link active " aria-current="page" href="#">Bet</a>
                </li>
                <li class="nav-item col-sm-3 pl-3">
                    <a class="nav-link" href="#">Stats</a>
                </li>
                <li class="nav-item dropdown col-sm-3 pl-3" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Leagues
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Premier League</a></li>
                        <li><a class="dropdown-item" href="#">La Liga</a></li>
                        <li><a class="dropdown-item" href="#">Seria A</a></li>
                        <li><a class="dropdown-item" href="#">League 1</a></li>


                    </ul>
                </li>
                <li class="nav-item mx-5 ">
                    <a class="nav-link" href="/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->

<div class="container p-5">
    <table class="table table-dark">

        <tr>
            <th scope="col">Position</th>
            <th scope="col">Team</th>
            <th scope="col">Points</th>
            <th scope="col">W</th>
            <th scope="col">D</th>
            <th scope="col">L</th>
        </tr>

        <tr th:each="team : ${teams}">
            <th scope="row" th:text="${team.getPosition()}"></th>
            <td th:text="${team.getTeamName()}"></td>
            <td th:text="${team.getPoints()}"></td>
            <td th:text="${team.getGamesWon()}"></td>
            <td th:text="${team.getGamesDraw()}"></td>
            <td th:text="${team.getGamesLost()}"></td>
        </tr>

    </table>
</div>


<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0 bg-dark mw-100 pt-5 ">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5><a><img src="https://upload.wikimedia.org/wikipedia/commons/9/90/BET_Logo.svg" alt="..." height="25" style="filter: invert(100%)"></a></h5>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Bootstrapious.com</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <li class="text-decoration-none" ><a class="text-white text-decoration-none" href="#">Home</a></li>
                    <li class="text-decoration-none"><a class="text-white text-decoration-none" href="#">About</a></li>
                    <li class="text-decoration-none"><a class="text-white text-decoration-none" href="#">Get started</a></li>
                    <li class="text-decoration-none"><a class="text-white text-decoration-none" href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 text-white">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled">
                    <li ><a class="text-white text-decoration-none" href="#">Home</a></li>
                    <li><a  class="text-white text-decoration-none" href="#">About</a></li>
                    <li><a class="text-white text-decoration-none" href="#">Get started</a></li>
                    <li><a class="text-white text-decoration-none" href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 text-white" >
                <h5 class="text-white mb-3">Newsletter</h5>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                </div>

            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>